@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Indie+Flower&display=swap');
:root {
  --bg-pink: rgb(252, 193, 225);
  --bg-blue: rgb(140, 189, 218);
  --bg-yellow: rgb(224, 247, 23);
  --accent-pink: rgb(250, 58, 116);
  --outline: rgb(197, 58, 125);
  --white: white;

  /*header and footer colors*/
  --clr-text: black;
  --clr-outline: var(--bg-yellow);
  --clr-outline-accent: var(--accent-pink);

  --font-handwriting: 'Indie Flower', cursive;
  --font-pumpkin: 'Cherry Bomb One', system-ui;
}

/* My Styles */

body {
  font-family: var(--font-handwriting);
  background-image: url(../../public/assets/svgs/ed-heart-emojis.svg);
  background-size: 65%;
}

.body-wrapper {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

h1,
h2 {
  font-family: var(--font-pumpkin);
}

h1 {
  text-transform: uppercase;
  font-size: clamp(2.5rem, 9vw + 1rem, 10rem);
  line-height: 0.8;
  margin-block: 3rem;
  text-shadow: 1px 1px 0 var(--bg-blue), 2px 2px 0 var(--bg-blue),
    3px 3px 0 var(--bg-blue), -1px -1px 0 var(--accent-pink),
    -2px -2px 0 var(--accent-pink), -3px -3px 0 var(--accent-pink);
}

h2 {
  font-size: clamp(2rem, 4vw + 1rem, 4rem);
  text-shadow: 1px 1px 0 var(--bg-yellow), 2px 2px 0 var(--bg-yellow);
  line-height: 0.8;
  margin-bottom: 3rem;
}

.section-items-grid {
  --min-column-size: 350px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-column-size), 100%), 1fr)
  );
  gap: 3rem;
  margin-bottom: 5rem;
}

.album-art {
  --photo-width: clamp(260px, 35vw, 350px);
  object-fit: cover;
  width: var(--photo-width);
  height: var(--photo-width);
  margin-bottom: 1rem;
  box-shadow: 0.4em 0.4em 0em 0em var(--accent-pink);
}

section a {
  text-decoration: none;
  color: black;
  -webkit-text-stroke: 0.2em var(--bg-pink);
  paint-order: stroke;
  font-size: clamp(1.25rem, 2vw + 1rem, 2rem);
  font-weight: 800;

  justify-self: center;
}

section a:hover,
section a:focus-visible {
  rotate: 5deg;
}
