@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Indie+Flower&display=swap');
:root {
  --bg-clr: rgb(163, 114, 209);
  --pushpin-clr: rgb(115, 241, 12);
  --highlighter: rgb(250, 250, 22);
  --darkpurple: rgb(87, 0, 128);
  --dark-txt-clr: rgb(41, 2, 63);
  --whitish-clr: rgb(252, 237, 237);
  --pumpkin-orange: rgb(246, 148, 63);

  /*header and footer colors*/
  --clr-text: var(--dark-txt-clr);
  --clr-outline: var(--whitish-clr);
  --clr-outline-accent: var(--pushpin-clr);

  --font-handwriting: 'Indie Flower', cursive;
  --font-pumpkin: 'Cherry Bomb One';
}

/*my styles*/
* {
  scrollbar-color: var(--pushpin-clr) white;
}

/*starwipe*/
@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  animation-duration: 2s;
}

::view-transition-old(root) {
  animation: 1s grow6 forwards cubic-bezier(0.76, 0.05, 0.86, 0.06);
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  inset: 0;
  pointer-events: none;
  mask: url('../../public/assets/svgs/blackstar.svg') center/contain no-repeat,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
}

::view-transition-new(root) {
  animation: none;
  z-index: -1;
}

@keyframes grow6 {
  0% {
    mask-size: 1px;
  }
  100% {
    mask-size: max(300dvh, 300dvw);
  }
}

body {
  font-family: var(--font-handwriting), 'Segoe Print', 'Bradley Hand', Chilanka,
    TSCu_Comic, casual, cursive;

  color: var(--whitish-clr);
  height: 100%;
  margin: 0;
  padding-top: 1rem;
  background-color: var(--bg-clr);
  background-image: url(/assets/svgs/halloween-bg.svg);
  background-repeat: repeat;
  background-size: 300px;

  background-position: center;
  position: relative;
}

.body-wrapper {
  padding-inline: 1rem;
  max-width: 1360px;
  margin-inline: auto;
  position: relative;
}

.heading {
  margin-top: 3rem;
  margin-bottom: 6rem;
}

h1 {
  font-family: var(--font-pumpkin);
  font-size: clamp(2.2rem, 7vw + 1rem, 12rem);
  line-height: 0.8;
  color: var(--pumpkin-orange);
  text-transform: uppercase;
  -webkit-text-stroke: 20px var(--whitish-clr);
  paint-order: stroke;

  border-radius: 1rem;
  padding-inline: 1rem;
  margin-bottom: 0.9em;
}

.description {
  background-color: var(--whitish-clr);
  color: var(--dark-txt-clr);
  text-shadow: 1px 1px 0px var(--pushpin-clr), 2px 2px 0px var(--pushpin-clr);
  border-radius: 1rem;
  font-size: clamp(1.5rem, 2.5vw + 1rem, 2.5rem);
  padding: 1.5rem;
  max-width: 75ch;
}

.submissions {
  --min-column-size: 400px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-column-size), 100%), 1fr)
  );
  gap: 4rem;
  row-gap: 6rem;
}

.submission {
  --photo-width: clamp(250px, 35vw, 400px);
  container-type: inline-size;
  justify-self: center;
  background-color: var(--whitish-clr);
  width: var(--photo-width);
  height: calc(var(--photo-width) * 1.15);
  border-radius: 2px;
  box-shadow: 2px 2px 5px 0px var(--darkpurple);
  padding-top: calc(var(--photo-width) / 15);
  padding-inline: calc(var(--photo-width) / 15);

  position: relative;
}

.submission:hover,
.submission:focus-visible {
  transform: rotate(4deg);
  box-shadow: 2px 2px 20px 0px var(--highlighter);
  cursor: pointer;
}

/*pushpin*/
.submission::before {
  content: '';
  background-color: var(--pushpin-clr);
  border-radius: 50%;
  width: 8cqw;
  height: 8cqw;
  box-shadow: 1px 1px 1px 0px var(--bg-clr);
  position: absolute;
  inset: 0;
  top: -1cqw;
  left: 54cqw;
  z-index: 10;
}

.pumpkin-photo {
  height: 100cqw;
  background-size: cover;
  border-radius: 1px;
  opacity: 0.9;
}

/* accessible polaroid button stuff */
.polaroid {
  --photo-width: clamp(250px, 35vw, 400px);
  container-type: inline-size;
  justify-self: center;
  background-color: var(--whitish-clr);
  width: var(--photo-width);
  height: calc(var(--photo-width) * 1.15);
  border-radius: 2px;
  box-shadow: 2px 2px 5px 0px var(--darkpurple);
  padding-top: calc(var(--photo-width) / 15);
  padding-inline: calc(var(--photo-width) / 15);

  position: relative;
  border-style: none;
}

.polaroid:hover,
.polaroid:focus-visible {
  transform: rotate(4deg);
  box-shadow: 2px 2px 20px 0px var(--highlighter);
  cursor: pointer;
}

.polaroid::before {
  content: '';
  background-color: var(--pushpin-clr);
  border-radius: 50%;
  width: 8cqw;
  height: 8cqw;
  box-shadow: 1px 1px 1px 0px var(--bg-clr);
  position: absolute;
  inset: 0;
  top: -1cqw;
  left: 54cqw;
  z-index: 10;
}

.photo {
  object-fit: cover;
  height: 100cqw;
  width: 100cqw;
  border-radius: 1px;
  opacity: 0.9;
}

.pumpkin-label {
  margin-block: 1rem;
  color: var(--dark-txt-clr);
  text-align: center;
  font-family: var(--font-handwriting);
  font-size: 10cqw;
  font-weight: 800;
  line-height: 1;
  text-shadow: 1px 1px 0px var(--highlighter), 2px 2px 0px var(--highlighter);
}

/*
[popover]:not(:popover-open):not(dialog[open]) {
  display: none;
}
  */

[popover] {
  font-family: var(--font-handwriting);
  color: var(--dark-txt-clr);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 0.9;
  max-width: 45ch;
  max-height: calc(100vh - 4rem);

  background-color: var(--highlighter);
  box-shadow: 2px 2px 5px 0px var(--darkpurple);
  border-radius: 1.5rem;
  border: none;
  margin-inline: auto;
  margin-top: 4rem;
  padding-inline: 1rem;
  overflow-y: scroll;

  img {
    max-width: 100%;
    margin-inline: auto;
    border-radius: 1.5rem;
  }

  p {
    padding-block: 1rem;
  }

  video {
    display: block;
    padding-block: 1rem;
    max-width: 250px;
    border-radius: 1.5rem;
  }

  button {
    cursor: pointer;
    border: none;
    font-family: var(--font-handwriting);
    color: var(--dark-txt-clr);
    font-size: 1.5rem;
    font-weight: 800;
    background-color: var(--pushpin-clr);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 0px 0px var(--darkpurple);
    margin-block: 1rem;
  }

  button:hover {
    background-color: var(--pumpkin-orange);
    box-shadow: 2px 2px 0px 0px var(--bg-clr);
  }
}

h2 {
  color: var(--dark-txt-clr);
  text-align: center;
  font-family: var(--font-handwriting);
  font-size: 10cqw;
  font-weight: 800;
  margin-top: 1rem;
  line-height: 1;
  text-shadow: 1px 1px 0px var(--highlighter), 2px 2px 0px var(--highlighter);
}

.tilt-left3 {
  rotate: -3deg;
}

.tilt-left2 {
  rotate: -2deg;
}

.tilt-right3 {
  rotate: 3deg;
}

.tilt-right2 {
  rotate: 2deg;
}

.close {
  border: none;
  font-family: var(--font-handwriting);
  color: var(--dark-txt-clr);
  font-size: 1.5rem;
  font-weight: 800;
  background-color: var(--pushpin-clr);
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 0px 0px var(--darkpurple);
  margin-top: 1rem;
}

.close:hover {
  background-color: var(--pumpkin-orange);
  box-shadow: 2px 2px 0px 0px var(--bg-clr);
}
