---
import Head from '../components/head.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import "/src/styles/reset.css"
import "/src/styles/cowboy-bebop.css"
---

<html lang="en">
<Head title="Cowboy Bebop CSS"></Head>
  <body>
    <div class="body-wrapper">
      <Header></Header>
      <div class="heading">
        <h1>ANIME INSPIRED CSS</h1>
        <div class="title-wrapper">
          <h2 class="large-title top">カウボーイ</h2>
          <h2 class="small-title">COWBOY BEBOP</h2>
          <h2 class="large-title bottom">ビバップ</h2>
        </div>
        <p>
          The
          <a href="https://www.youtube.com/watch?v=EL-D9LrFJd4"
            >OP for Cowboy Bebop</a
          >
          is one of my favorite anime openings, and I wanted to see if I could
          capture the feel of it with just some CSS and photos of my dogs. This
          is the result.
        </p>
      </div>
      <section>
        <div class="bebop-grid1">
          <div class="black-vertical"></div>
          <div class="black-text">COWBOY BEBOP</div>
        </div>
        <div class="role-name right">
          <h1>GOOD GIRL</h1>
          <h2>BEA BEA</h2>
        </div>
      </section>
      <section>
        <div class="role-name">
          <h1>BEST BOI</h1>
          <h2>KRINGLE</h2>
        </div>
        <div class="bebop-grid2">
          <div class="black-horizontal"></div>
          <div class="black-text">COWBOY</div>
        </div>
      </section>
      <section class="floof">
        <div class="bebop-grid1">
          <div class="black-vertical"></div>
          <div class="black-text">BEBOP</div>
        </div>
        <div class="role-name right">
          <h1>PRINCESS</h1>
          <h2>SHIELA</h2>
        </div>
      </section>
      <section class="cuppy">
        <div class="bebop-grid1">
          <div class="black-vertical"></div>
          <div class="black-text">COWBOY BEBOP</div>
        </div>
        <div class="role-name">
          <h1>OLD BLIND</h1>
          <h2>CUPPY</h2>
        </div>
      </section>
      <section class="tasha">
        <div class="role-name text-vertical">
          <h1>OUTLAWS</h1>
          <h2>NELLY AND TASHA</h2>
        </div>
        <div class="bebop-grid3">
          <div class="black-vertical"></div>
          <div class="black-horizontal"></div>
        </div>
      </section>
      <section class="mya">
        <div class="bebop-grid2">
          <div class="black-horizontal"></div>
        </div>
        <div class="role-name">
          <h1>MY GIRL</h1>
          <h2>MYA</h2>
        </div>
        <div class="how-to">
          <h3>CREATING PANELED IMAGES</h3>
          <p class="p-space">
            The look of these panels is accomplished with a mixture of
            <code>background-blend-mode</code>, and transparent stripes.
          </p>
          <img
            class="ed-smile"
            src="assets/svgs/ed-smile.svg"
            alt="one of the weird smiling emoji ed used in cowboy-bebop"
          />
          <p class="p-space">
            I used <code>background-blend-mode</code> to combine a
            <code>background-color</code> and a <code>background image</code> set to a grayscale photo of
            one of my dogs. There are a lot of different modes to choose from,
            but I mostly stuck to a <code>background-blend-mode</code> of
            <code>darken</code>, <code>lighten</code>, or
            <code>hard-light</code>.
          </p>
          <img
            class="ed-whistle"
            src="assets/svgs/ed-whistle.svg"
            alt="one of the weird whistling emoji ed used in cowboy-bebop"
          />
          <p class="p-space">
            The paneled look was created by alternating transparent and black
            stripes over my background image. Stripes can be made by using a
            <code>repeating-linear-gradient</code>. I used
            <code>CSS-grid</code> to place a <code>div</code> with my stripes
            overtop of my dog background, but a
            <code>pseudo-element</code> would have also done the trick. Below is
            my code for the first dog photo with red vertical panels. Everything
            else is just a variation of this.
          </p>

          <p class="language">HTML</p>
          <pre class="code-block p-space"><code>&lt;section&gt;
  &lt;div class="bebop-grid1"&gt;
    &lt;div class="black-vertical"&gt;&lt;/div&gt;
    &lt;div class="black-text"&gt;COWBOY BEBOP&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="role-name right"&gt;
    &lt;h1&gt;GOOD GIRL&lt;/h1&gt;
    &lt;h2&gt;BEA BEA&lt;/h2&gt;
  &lt;/div&gt;
&lt;/section&gt;</code></pre>
          <p class="language">CSS</p>
          <pre class="code-block p-space"><code>.bebop-grid1 &#123;
  display: grid;
  container-type: inline-size;
  background: url(assets/photos/bea-snow.jpg);
  background-color: var(--clr-red);
  background-size: cover;
  background-position: 25% 80%;
  background-blend-mode: darken;
  width: 100%;
  height: clamp(150px, 50vw, 600px);
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
&#125;
      
/*stripes mimicking panels*/
.black-vertical &#123;
  grid-column: 1/-1;
  grid-row: 1/-1;
  background: repeating-linear-gradient(
    to right,
    transparent,
    transparent 13cqi,
    var(--clr-background) 13cqi,
    var(--clr-background) 14.5cqi
  );
  z-index: 10;
&#125;
        
.black-text &#123;
  grid-column: 1/-1;
  grid-row: 4/-1;
  align-self: end;
  color: var(--clr-background);
  font-size: 10cqi;
  font-weight: 800;
&#125;
          </code></pre>
        </div>
      </section>
      <section class="four-dogs">
        <div class="four-dogs-grid">
          <div class="wide-dog-one"></div>
          <div class="tall-dog-one"></div>
          <div class="red-block">
            <h3>A PRODUCTION OF</h3>
            <h4>NELLY AND</h4>
            <h4>HER HOUNDS</h4>
          </div>
          <div class="tall-dog-two"></div>
          <div class="wide-dog-two"></div>
        </div>
      </section>
      <section class="bye">
        <p>
          <a href="https://www.youtube.com/watch?v=Ru_H5PiyfSA"
            >SEE YOU SPACE COWBOY...</a
          >
        </p>
      </section>
      <Footer></Footer>
    </div>
  </body>
</html>
