---
import Head from '../components/head.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import "/src/styles/reset.css"
import "/src/styles/cssfun.css"
import "/src/styles/starwipe.css"
---
<html lang="en">
  <Head title="CSS Fun"></Head>
  <!--
  <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CSS FUN!!!</title>
	</head>
   -->
  <body>
    <div class="body-wrapper">
      <Header></Header>
      <div class="heading">
      <img class="ed-smile" src="../../public/assets/svgs/ed-smile-pink.svg" alt="">
      <h1>Fun with CSS!!!</h1>
      <p>CSS is what gives the world wide web its charm ✨. Please feel free to poke around some of my style experiments.</p>
      </div>
       <section class="games">
        <h2>interactive stuff</h2>
        <ul>
          <li>
          <p> 
          <a href="/madlibs.html">
            Play MAD LIBS </a>:
          I wonder if mad libs is copyrighted... lets call it "CRAZY CLOZE" instead!
          </p>
          </li>
          <li>
          <p>
          <a href="/literally-kanji.html">
            LITERALLY KANJI
          </a>: I animated japanese kanji to act like what they mean.
          </p>
          </li>
        </ul>
      </section>
      <section class="albums-anime">
        <h2>Recreating Album Art and Anime vibes</h2>
        <div class="section-items-grid">
          <a href="/daftpunk-homework.html">
            <img
              class="album-art"
              src="assets/photos/album-art/daftpunk-homework.jpg"
              alt="the album art for Daft Punk's 'Homework"
            />
            <p>Daft Punk's "Homework"</p>
          </a>
          <a href="/lizzo-boys.html">
            <img
              class="album-art"
              src="assets/photos/album-art/LizzoBoys2018Single.jpg"
              alt="the cover art for Lizzo's song 'Boys'"
            />
            <p>Lizzo's "Boys"</p>
          </a>
          <a href="/discovery-lp.html">
            <img
              class="album-art"
              src="assets/photos/album-art/discovery-osakaloopline.jpg"
              alt="the album art for Discovery's 'LP'"
            />
            <p>Discovery's "LP"</p>
          </a>
           <a href="/cowboy-bebop.html">
            <img
              class="album-art"
              src="assets/photos/album-art/cowboy-bebop.jpg"
              alt="cowboy bebop artwork"
            />
            <p>Cowboy Bebop layouts</p>
          </a>
        </div>
      </section>
     
      <Footer></Footer>
    </div>
  </body>
</html>
