---
import Head from '../components/head.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import "/src/styles/reset.css"
import "/src/styles/cssfun.css"
---
<html lang="en">
  <Head title="CSS Fun"></Head>
  <!--
  <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CSS FUN!!!</title>
	</head>
   -->
  <body>
    <div class="body-wrapper">
      <Header></Header>
      <h1>CSS Fun!!!</h1>
      <section class="album-covers">
        <h2>Recreating Album Art</h2>
        <div class="section-items-grid">
          <a href="/daftpunk-homework.html">
            <img
              class="album-art"
              src="assets/photos/album-art/daftpunk-homework.jpg"
              alt="the album art for Daft Punk's 'Homework"
            />
            <p>Daft Punk's "Homework"</p>
          </a>
          <a href="/lizzo-boys.html">
            <img
              class="album-art"
              src="assets/photos/album-art/LizzoBoys2018Single.jpg"
              alt="the cover art for Lizzo's song 'Boys'"
            />
            <p>Lizzo's "Boys"</p>
          </a>
          <a href="/discovery-lp.html">
            <img
              class="album-art"
              src="assets/photos/album-art/discovery-osakaloopline.jpg"
              alt="the album art for Discovery's 'LP'"
            />
            <p>Discovery's "LP"</p>
          </a>
        </div>
      </section>
      <section class="anime">
        <h2>Anime inspired CSS</h2>
        <div class="section-items-grid">
          <a href="/cowboy-bebop.html">
            <img
              class="album-art"
              src="assets/photos/album-art/cowboy-bebop.jpg"
              alt="cowboy bebop artwork"
            />
            <p>Cowboy Bebop layouts</p>
          </a>
        </div>
      </section>
      <section class="anime">
        <h2>Games!</h2>
        <div class="section-items-grid">
          <a href="/madlibs.html">
            <img
              class="album-art"
              src="assets/photos/album-art/madlibs-screenshot.png"
              alt="cowboy bebop artwork"
            />
            <p>Mad Libs</p>
          </a>
        </div>
      </section>
      <Footer></Footer>
    </div>
  </body>
</html>
