---
import Head from '../components/head.astro'
import "/src/styles/reset.css"

---

<html lang="en">
	<Head title="ed-hacking">
        <link rel="stylesheet" href="/styles/ed-hacking.css" />
    </Head>
 <body>
    <div class="rickroll-wrapper rickroll-hide">
        <div class="lyrics typewriter"> 
            <p>This was supposed to be a rickroll but it turns out that it is nearly impossible to find a Rick Astley video that doesn't start with ads.  I mean it makes sense there are well over a billion views on the official "Never gonna give you up" video, who wouldn't want a piece of that. But if I had any sort of power I would make it illegal to put ads on any version of "Never gonna give you up" and I would make it that no browser could block it from autoplaying.  Oh well guess I will just print the lyrics till that timeout kicks in...</p> 
            <p class="space">We′re no strangers to love</p>
            <p>You know the rules and so do I </p>
            <p>A full commitment's what I′m thinkin' of</p>
            <p>You wouldn't get this from any other guy</p>
            <p class="space">I just wanna tell you how I′m feeling</p>
            <p>Gotta make you understand</p>
            <p class="space">Never gonna give you up, never gonna let you down</p>
            <p>Never gonna run around and desert you</p>
            <p>Never gonna make you cry, never gonna say goodbye</p>
            <p>Never gonna tell a lie and hurt you</p>
            <p class="space">We′ve known each other for so long</p>
            <p>Your heart's been aching, but you′re too shy to say it</p>
            <p>Inside, we both know what's been going on</p>
            <p>We know the game and we′re gonna play it</p>
            <p class="space">And if you ask me how I'm feeling</p>
            <p>Don′t tell me you're too blind to see</p>
            <p class="space">Never gonna give you up, never gonna let you down</p>
            <p>Never gonna run around and desert you</p>
            <p>Never gonna make you cry, never gonna say goodbye</p>
            <p>Never gonna tell a lie and hurt you</p>
            <p class="space">Never gonna give you up, never gonna let you down</p>
            <p>Never gonna run around and desert you</p>
            <p>Never gonna make you cry, never gonna say goodbye</p>
            <p>Never gonna tell a lie and hurt you</p>
            <p class="space">(Ooh, give you up)</p>
            <p>(Ooh, give you up)</p>
            <p>(Ooh) never gonna give, never gonna give (give you up)</p>
            <p>(Ooh) never gonna give, never gonna give (give you up)</p>
            <p class="space">We′ve known each other for so long</p>
            <p>Your heart's been aching, but you′re too shy to say it</p>
            <p>Inside, we both know what's been going on</p>
            <p>We know the game and we′re gonna play it</p>
            <p class="space">I just wanna tell you how I′m feeling</p>
            <p>Gotta make you understand</p>
            <p class="space">Never gonna give you up, never gonna let you down</p>
            <p>Never gonna run around and desert you</p>
            <p>Never gonna make you cry, never gonna say goodbye</p>
            <p>Never gonna tell a lie and hurt you</p>
            <p class="space">Never gonna give you up, never gonna let you down</p>
            <p>Never gonna run around and desert you</p>
            <p>Never gonna make you cry, never gonna say goodbye</p>
            <p>Never gonna tell a lie and hurt you</p>
            <p class="space">Never gonna give you up, never gonna let you down</p>
            <p>Never gonna run around and desert you</p>
            <p>Never gonna make you cry, never gonna say goodbye</p>
            <p>Never gonna tell a lie and hurt you</p>
            
    </div>
    <div class="warning warning-hide">
        <div class="one">
        <p>warning</p>
        <p>containment</p>
        <p>failure</p>
        </div>
        <div class="two">
        <p>危険</p>
        </div>
        <div class="three">
        <p>warning</p>
        <p>containment</p>
        <p>failure</p>
        </div>
        
    </div>
    <div class="video">
        <div class="home"><a href="/">home</a></div>
        <div style="--aspect-ratio: 16/9;">
        <iframe width="800" height="450"
        src="https://www.youtube.com/embed/LBFePP9JWYg?autoplay=1">
        </iframe>
        </div>
        <div class="lyrics">
        <p>WARNING this video is most definitely bad for people with photosensitivity.</p>
        <p class="space">video by John Michael Boling and Javier Alberto Morales, music by Javier</p>
        <p>please enjoy :)</p>
        </div>
    </div>
    </div>
    <script src="/src/scripts/ed-hacking.js" ></script>
 </body>