---
import Head from '../components/head.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import "/src/styles/reset.css"
import "/src/styles/style.css"
import "/src/styles/starwipe.css"
---

<html lang="en">
	<Head title="Nelly's homepage"></Head>
	<body>
		<section class="bg-white">
			<Header></Header>
		  <div class="text">
			<img class="ed-emoji tilt-right" src="assets/svgs/ed-smile-pink.svg" alt="">
			<h1>Howdy!</h1>
			<p class="p-space">
			  Welcome to my website. My name is Janelle and I enjoy fiddling with 
			  <a href="/cssfun.html">CSS</a>.
			</p>
			<div class="nelly-tasha p-space" aria-label="a photograph of me (age 9) and the best dog in the history of the world, Tasha, sitting inside her crate.  We are both making stupid faces which is impressive since Tasha was also the prettiest dog in the history of the world. Please don't tell my other dogs I said this."></div>
			<h2>BIO</h2>
			<p class="p-space">
				I have a botany degree, and used to work on a fruit and veggie farm. Because of a shoulder injury I am trying to learn front end web development. Alas I spend far too much time trying to recreate interesting layouts I see in 			  <button popovertarget="ranmaPop" popovertargetaction="show">
				anime
			  </button> with CSS rather than learning the ins and outs of javascript.
			</p>
			<div id="ranmaPop" popover class="ranma">
			  <p>This page was inspired by...</p>
			  <h3>RANMA 1/2</h3>
			  <img
				src="assets/photos/ranma-inspiration.jpg"
				alt="image from 'ranma
			  1/2' with very similar backgrounds to my homepage"
			  />
			  <button popovertarget="ranmaPop" popovertargetaction="hide" autofocus>
				CLOSE
			  </button>
			</div>
			<ol>
				<h3>My hobbies include:</h3>
				<li>native plant and permaculture gardening</li>
				<li>opening doors for dogs who can't decide if inside or outside is best</li>
				<li>being completely indifferent to competition unless that competition is <a href="pumpkins.html">decorating pumpkins</a></li>
				<li>listening to music for hours upon hours</li>
			</ol>
			<img class="ed-emoji" src="assets/svgs/ed-forward-pink.svg" alt="">
			
			<Footer></Footer>
		  </div>
		</section>
		<div class="bg-blue"></div>
		<div class="bg-yellow"></div>
	  </body>
</html>
