---
import Head from '../components/head.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import "/src/styles/reset.css"
import "/src/styles/pumpkins.css"
import "/src/styles/starwipe.css"
---
<!DOCTYPE html>
<html lang="en">
<Head title="my pumpkins"></Head>
  <body>
    <div class="body-wrapper">
      <Header></Header>
      <div class="heading">
        <div class="pumpkin-emoji-wrapper"> <img class="pumpkin-emoji" src="../../public/assets/svgs/pumpkin-emoji2.svg" alt=""></div>
        <h1>Pumpkins!</h1>
        
       
        <p class="description">
          Every October for well over a decade I took an employee pumpkin
          decorating contest waaay too seriously. These are some of my
          submissions.
        </p>
      </div>

      <section class="submissions">
        <button
          popovertarget="loraxPop"
          popovertargetaction="show"
          class="polaroid tilt-left3"
        >
          <img
            class="photo"
            src="assets/photos/lorax.jpg"
            alt="a pumpkin decorated to look like Dr. Suess' Lorax"
          />
          <h2 class="pumpkin-label">the lorax</h2>
        </button>
        <div id="loraxPop" popover class="tilt-right3">
          <p>
            This lorax has a mustache made of painted weeping willow leaves!
          </p>
          <img
            src="assets/photos/lorax.jpg"
            alt="a pumpkin decorated to look like Dr. Suess' Lorax"
          />
          <button popovertarget="loraxPop" popovertargetaction="hide" autofocus>
            close
          </button>
        </div>
        <button
          popovertarget="frogPop"
          popovertargetaction="show"
          class="polaroid"
        >
          <img
            class="photo"
            src="assets/photos/frog-prince.jpg"
            alt="a pumpkin painted to look like a chubby frog prince"
          />
          <h2 class="pumpkin-label">frog prince</h2>
        </button>
        <div id="frogPop" popover class="tilt-left2">
          <p>
            This frog has legs made of corn cobs and eyes made of "Tennessee
            Spinning Gourds".
          </p>
          <img
            src="assets/photos/frog-prince.jpg"
            alt="a pumpkin painted to look like a chubby frog prince"
          />
          <button popovertarget="frogPop" popovertargetaction="hide" autofocus>
            close
          </button>
        </div>
        
        <button
          popovertarget="gnomePop"
          popovertargetaction="show"
          class="polaroid tilt-right2"
        >
          <img
            class="photo"
            src="assets/photos/gnome-story.jpg"
            alt="a gourd decorated to look like a gnome reads a story to some gourd bugs under a pumpkin decorated to look like a mushroom."
          />
          <h2 class="pumpkin-label">mushroom party</h2>
        </button>
        <div id="gnomePop" popover class="tilt-right2">
          <p>
            The mushroom is made from an upside down "Cinderella" pumpkin, and
            the gnome and bugs are made from gourds.
          </p>
          <img
            src="assets/photos/gnome-story2.jpg"
            alt="a gourd decorated to look like a gnome reads a story to some gourd bugs under a pumpkin decorated to look like a mushroom."
          />
          <button popovertarget="gnomePop" popovertargetaction="hide" autofocus>
            close
          </button>
        </div>
        <button
          popovertarget="bunnyPop"
          popovertargetaction="show"
          class="polaroid tilt-left2"
        >
          <img
            class="photo"
            src="assets/photos/evil-bunny.jpg"
            alt="two pumpkins carved and painted to look like a sinister rabbit devouring screaming vegetables"
          />
          <h2 class="pumpkin-label">evil bunny</h2>
        </button>
        <div id="bunnyPop" popover class="tilt-right3">
          <p>
            This bunny was inspired by the terrifying rabbits in watership down.
          </p>
          <img
            src="assets/photos/watershipdown.jpeg"
            alt="a battleworn one eyed rabbit screaming from the animated film 'Watershipdown'."
          />
          <p>Here is a closeup of the doomed veggies.</p>
          <img
            src="assets/photos/evil-bunny-closeup.jpg"
            alt="raddishes, turnips, beets and a cabbage adorned with felt faces and squiggly pipe cleaner arms appear to be screaming in terror."
          />
          <button popovertarget="bunnyPop" popovertargetaction="hide" autofocus>
            close
          </button>
        </div>
        <img class="pumpkin-emoji-whistle" src="../../public/assets/svgs/pumpkin-emoji3.svg" alt="">
        <button
          popovertarget="pusheenPop"
          popovertargetaction="show"
          class="polaroid tilt-right3"
        >
          <img
            class="photo"
            src="assets/photos/pusheen-dragon.jpg"
            alt="a pumpkin decorated to look like pusheen the cat if pusheen were purple and a dragon and breathing fire"
          />
          <h2 class="pumpkin-label">dragon-pusheen</h2>
        </button>
        <div id="pusheenPop" popover class="tilt-left2">
          <video
            aria-label="360 degree view of a pumpkin painted like a pusheen dragon. It's using its fire to angrily roast a marshmallow."
            autoplay
            loop
            muted
          >
            <source src="assets/VID_20201021_154905.mp4" type="video/mp4" />
          </video>
          <button
            popovertarget="pusheenPop"
            popovertargetaction="hide"
            autofocus
          >
            close
          </button>
        </div>
        <button
          popovertarget="skullPop"
          popovertargetaction="show"
          class="polaroid"
        >
          <img
            class="photo"
            src="assets/photos/day-of-the-dead.jpg"
            alt="a pumpkin carved and painted to look like a skull, decorated with colorful flowers made from leaves, surrounded by blooming cacti made from squatty pumpkins"
          />
          <h2 class="pumpkin-label">day of the dead</h2>
        </button>
        <div id="skullPop" popover class="tilt-right2">
          <p>
            The flowers are made from painted pine cones and various Ericaceae
            leaves.
          </p>
          <img
            src="assets/photos/day-of-the-dead.jpg"
            alt="a pumpkin carved and painted to look like a skull, decorated with colorful flowers made from leaves, surrounded by blooming cacti made from squatty pumpkins"
          />
          <p>Close up!</p>
          <img
            src="assets/photos/flowers.jpg"
            alt="close up of the pumpkin cacti with their long spines made of toothpics, and leaves being painted to look like colorful flowers"
          />
          <button popovertarget="skullPop" popovertargetaction="hide" autofocus>
            close
          </button>
        </div>
        <button
          popovertarget="icecreamPop"
          popovertargetaction="show"
          class="polaroid tilt-left2"
        >
          <img
            class="photo"
            src="assets/photos/ice-cream.jpg"
            alt="two pumpkins decorated to look like an ice-cream cone and a cherry, they are both smiling despite clearly having been dropped"
          />
          <h2 class="pumpkin-label">ice-cream</h2>
        </button>
         
        <div id="icecreamPop" popover class="tilt-right3">
          <p>
            My niece got very attached to the "cherry" and was devastated when
            it finally rotted.
          </p>
          <img
            src="assets/photos/ice-cream.jpg"
            alt="two pumpkins decorated to look like an ice-cream cone and a cherry, they are both smiling despite clearly having been dropped"
          />
          <button
            popovertarget="icecreamPop"
            popovertargetaction="hide"
            autofocus
          >
            close
          </button>
        </div>
         <img class="pumpkin-emoji-whistle" src="../../public/assets/svgs/pumpkin-emoji4.svg" alt="">
        </section>
        <Footer></Footer>
    </div>
        
  </body>
</html>
