---
import Head from '../components/head.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import "/src/styles/reset.css"
import "/src/styles/starwipe.css"
---

<html lang="en">
	<Head title="questions">
		<link rel="stylesheet" href="/styles/questions.css" />
	</Head>
	<body>
        <div class="body-wrapper">
            <Header></Header>
            <div class="heading">
                <h1 class="title" data-title="WHAT?!">WHAT?!</h1>
                <img class="ed" src="/assets/svgs/ed-forward-pink.svg" alt="">
            </div>
        </div>
    </body>
</html>