---
import Head from '../components/head.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import "/src/styles/reset.css"
import "/src/styles/starwipe.css"
---

<html lang="en">
	<Head title="questions">
		<link rel="stylesheet" href="/styles/questions.css" />
	</Head>
	<body>
        <div class="body-wrapper">
            <Header></Header>
            <div class="heading">
                <h1 class="title" data-title="WHAT?!">WHAT?!</h1>
                <img class="ed" src="/assets/svgs/ed-forward-pink.svg" alt="">
            </div>
            <div class="questions">
                <h2>What is an abert's squirrel?</h2>
                <div class="squirrel-background"><img class="squirrel" src="/assets/photos/abertssquirrel-tree.jpg" alt=""></div>
                <p>Abert's squirrels are a tree squirrel native to the southern Rocky Mountains and northern Sierra Madre Occidental.  They have tufted ears and are very cute.</p>
                <p class="p-space">Despite their good looks, most people don't seem to know about them, so I often use abertssquirrel as a screen name.  This often leads people to assume my name is Albert, because they are fond of adding L's where they don't belong or because they are unfamiliar with the surname of naturalist and namesake "John James Abert".</p>
                <p class="p-space">I have never seen an abert's squirrel in real life, someday I hope to spot one munching away on a ponderosa pine cone.</p>
            </div>
            <div class="questions">
                <img class="ed-smile" src="/assets/svgs/ed-smile-pink.svg" alt="">
                <h2>What are those weird smiley faces?</h2>
                <img class="ed-tiny" src="/assets/svgs/ed-whistle-pink.svg" alt="">
                <p>They are from "Cowboy Bebop".</p>
                <iframe id="gif" src="https://giphy.com/embed/3osxYlSDn290VbV076" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <p>Ed uses them in her hacking system because hacking should be playful and not just glorified social engineering.</p>
                
                
            </div>
            <Footer></Footer>
        </div>
    </body>
</html>