---
import Head from '../components/head.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import "/src/styles/reset.css"
import "/src/styles/yes.css"
import "/src/styles/starwipe.css"
---

<html lang="en">
	<Head title="yes"></Head>
 <body>
    <div class="body-wrapper">
      <Header></Header>
      <button class="yes-btn" >
        <a class="link" href="/ed-hacking.html">yes</a>
      </button>
      <p class="counter">yes counter : <span>0</span></p>
      
      
      <Footer></Footer>
    </div>
    
 </body>