Header,
Footer,
.ed-smile,
.cookie-photo {
  display: none;
}

body {
  background-image: none;
}

h1,
h2,
h3,
p,
ul,
ol {
  text-shadow: none;
}

h1,
h2,
h3 {
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

p,
ul,
ol {
  font-size: 1rem;
  line-height: 1.5;
}

.pretty {
  color: black;
  text-decoration: underline solid 1px;
}
