@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Indie+Flower&display=swap');
:root {
  --bg-pink: rgb(252, 193, 225);
  --bg-blue: rgb(140, 189, 218);
  --lines: rgb(36, 50, 58);
  --bg-yellow: rgb(224, 247, 23);
  --accent-pink: rgb(250, 58, 116);
  --white: white;

  /*header and footer colors*/
  --clr-text: black;
  --clr-outline: var(--bg-blue);
  --clr-outline-accent: var(--bg-yellow);

  --font-handwriting: 'Indie Flower', cursive;
  --font-pumpkin: 'Cherry Bomb One', system-ui;
}

/* MY STYLES :) */
* {
  scrollbar-color: var(--bg-pink) white;
}

body {
  background-image:
    url(/assets/svgs/doodle-bg-dark.svg),
    repeating-linear-gradient(
      0deg,
      black,
      black 30px,
      var(--lines) 30px,
      var(--lines) 31px
    );

  background-size: 800px;
  color: var(--white);
  font-family: var(--font-handwriting);
  margin-block: 0;
  min-height: 100vh;
}

.body-wrapper {
  max-width: 800px;
  height: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

h1,
h2 {
  font-family: var(--font-pumpkin);
}

.space {
  margin-top: 2rem;
}

.heading {
  --min-column-size: 100px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-column-size), 100%), 1fr)
  );
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  container-type: inline-size;
}

h1 {
  position: relative;
  font-family: var(--font-pumpkin);
  font-size: clamp(2.2rem, 7vw + 1rem, 6rem);
  line-height: 0.8;
  color: black;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--bg-blue);
  align-self: center;

  @media (width <= 300px) {
    writing-mode: sideways-rl;
    justify-self: center;
    align-self: end;
  }
}

.title::before {
  content: attr(data-title);
  position: absolute;
  color: black;
  -webkit-text-stroke: 0.3em black;
  overflow-wrap: anywhere;
  z-index: -10;
}

.title::after {
  content: attr(data-title);
  position: absolute;
  color: var(--bg-pink);
  -webkit-text-stroke: 0.4em var(--bg-pink);
  left: 0;
  top: 0;
  overflow-wrap: anywhere;
  z-index: -20;
}

.ed {
  width: clamp(100px, 60%, 300px);
  rotate: 10deg;
  filter: drop-shadow(0.25em 0.25em 0px var(--bg-blue));
  justify-self: center;
  align-self: center;
}

.questions {
  margin-top: 3rem;
}

h2 {
  font-size: clamp(2rem, 4vw + 1rem, 4rem);
  color: black;
  -webkit-text-stroke: 2px var(--bg-blue);
  line-height: 0.8;
  margin-bottom: 4rem;
}

p {
  color: var(--bg-blue);
  font-weight: 800;
  font-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
  text-shadow:
    1px 1px 0px var(--accent-pink),
    2px 2px 0px var(--accent-pink);
}

.p-space {
  margin-top: 1rem;
}

.squirrel-background {
  background: linear-gradient(120deg, var(--bg-blue), var(--bg-pink));
  width: clamp(200px, 50vw, 400px);
  border-radius: 2em;
  box-shadow:
    0.2em 0.2em 0px 0px var(--accent-pink),
    -0.2em -0.2em 0px 0px var(--bg-blue);
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.squirrel {
  mix-blend-mode: color-burn;
  overflow: hidden;
  border-radius: 2em;
}

.ed-smile {
  width: 20%;
  filter: drop-shadow(0.25em 0.25em 0px var(--bg-blue));
  float: right;
  shape-outside: circle(11vw);
  margin: 1rem;
}

.ed-tiny {
  width: 50px;
  float: left;
  shape-outside: circle(11vw);
  margin-right: 1em;
  margin-bottom: 1em;
  filter: drop-shadow(2px 2px 0px var(--bg-blue));
}

#gif {
  border-radius: 2em;
  box-shadow:
    0.2em 0.2em 0px 0px var(--accent-pink),
    -0.2em -0.2em 0px 0px var(--bg-blue);
  aspect-ratio: 480 / 336;
  height: auto;
  width: clamp(150px, 60%, 480px);
  float: right;
  margin-left: 2rem;
  margin-block: 2rem;
}
